body{
    background-color:   #F4F6F6 ;
    animation: transitionIn 0.75s;
    
}
@keyframes transitionIn {
    from{
        opacity:0;
        transform : rotatex(-10deg);
    }
    to{
        opacity:1;
        transform : rotatex(0);
    }
}
.grid-con{
    background-color: #F1C40F;
    display:flex;
    overflow-x:auto;
    padding:20px;
    margin: 20px;
    border-radius:10px;
    align-content:center;
    text-align: center;
    vertical-align: middle;
    animation:con_move 5s infinite;
     
   
    /*
    grid-template-columns: 250px 250px 250px 250px 250px 250px 250px;
    grid-row-gap: 0px;
    grid-column-gap:0px; */
}
@keyframes con_move{
    10%{background-color: #F1C40F;}
    60%{background-color:#7D3C98 ;}
    100%{background-color: #2980B9;}
}
 
.grid-con::-webkit-scrollbar-button{
    width:0;
}
.grid-con .next{
    
    position :sticky;
    height:80px;
}
.grid-item{
    background-color: white;
    height:255px;
    width:200px;
    font-size: large;
    padding:20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 2px rgb(7, 7, 7);

    transition:0.7s;

    position: relative;
    animation-duration: 2s;
    animation-name: title;

}
.grid-item img{
   
    border-radius:10px;
    width:160px;
    height:160px;
    outline: none;
} 
p{
    color:rgb(5, 39, 70);
    margin-top:20px;
    margin-bottom: 10px;

   

     
}
h1{
    margin-left:30px;
    color:black;
    position:relative;

    animation-duration: 2s;
    animation-name: title;
}

@keyframes title{
    0%{right:-200px;}
    100%{right:0px;}

}